<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GPA</title>

    <!-- Loading Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
</head>

<body ng-app="mainApp" ng-controller="gpaCtrl">

<div ng-include="'views/navbar.html'"></div>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="addData()">
                <input ng-model="classField" type="text" size="50" placeholder="Enter class">
                <input ng-model="creditsField" type="text" size="20" placeholder="Enter number of credits">
                <input ng-model="gradeField" type="text" size="20" placeholder="Enter grade">
                <input type="submit" value="submit" class="btn btn-primary">
                <span class={{returnColorClass()}}>GPA: {{returnGPA()}}</span>
            </form>

        </li>
        <li class="list-group-item" ng-repeat="test in data">{{test.class + " Credits: " + test.credits + " Grade: " + test.grade}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="removeData($index)"></span></li>
    </ul>
</div>
</body>
</html>
